ion-content {
  --padding-top: 30px;
  --padding-start: 20px;
  --padding-end: 20px;

  --background-color: aqua;
}

#inputGroup {
  width: 50%;
  float: left;
}

.borderItems {
  border-top: #414141 1px solid;
  border-bottom: #414141 1px solid;
}

.numberInput {
  --padding-start: 100px;
}

#sendButtonItem {
  float: right;
  --background: transparent;
  margin-bottom: 20px;
}

#sendButtonItem ion-button {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

#colorResult {
  color: #ff5b71;
}

#resultGroup ion-item {
  --padding-start: 40px;
  --background: transparent;
}

#resultItem {
  color: #9d9fa6;
  margin-top: 60px;
  border: #ed576b 2px solid;
}

#resultItem ion-label {
  font-size: 1.5em;
}