ion-content {
  --padding-top: 15px;
  --padding-start: 20px;
  --padding-end: 20px;
}

#inputGroup1 {
  width: 20%;
  float: left;
  padding-bottom: 30px;
}


#inputGroup2 {
  width: 20%;
  float: left;
  padding-bottom: 30px;
}

.borderItems {
  border-top: #414141 1px solid;
  border-bottom: #414141 1px solid;
}

.numberInput {
  --padding-start: 100px;
}

#buttonItem {
  //float: right;
  margin-top: 25px;
  --background: transparent;
  margin-bottom: 20px;
}

#buttonItem ion-button {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

#colorResult {
  color: #ff5b71;
}

#resultGroup ion-item {
  --padding-start: 40px;
  --background: transparent;
}

#resultItem {
  color: #9d9fa6;
  margin-top: 30px;
  border: #ed576b 2px solid;
}

#resultItem ion-label {
  font-size: 1.5em;
}